amqp==5.2.0
anyio==4.0.0
async-timeout==4.0.3
asyncio==3.4.3
billiard==4.2.0
celery==5.3.5
certifi==2023.7.22
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
exceptiongroup==1.1.3
feedparser==6.0.10
FormEncode==2.1.0
greenlet==3.0.1
h11==0.14.0
httpcore==1.0.2
httpx==0.25.1
idna==3.4
kombu==5.3.3
prompt-toolkit==3.0.40
PyDispatcher==2.0.7
python-dateutil==2.8.2
python-dotenv==1.0.0
python-telegram-bot==20.6
redis==5.0.1
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.23
typing_extensions==4.8.0
tzdata==2023.3
vine==5.1.0
wcwidth==0.2.9
